<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/submit" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="text" name="country_name" id="" placeholder="Enter country name">
        <input type="submit" value="Submit">
    </form>
</body>
</html>