<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="half-one">

    </div>
    <div class="half-two">

    </div>
    <h1>Welcome</h1>
    <br>
    <a href="/logout">
        <button style="background-color: #d2d1d1; position: absolute; top: 60%; left: 50%; transform: translateX(-50%); width: 10%; height: 8%; font-family: 'JetBrains Mono', monospace; font-size: 1.5rem; border: none; cursor: pointer;" type="submit">Logout</button>
    </a>
</body>
</html>