@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3D2B3D;
  --foreground: #F33535;
  --primary: #F33535;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #33425B;
    --foreground: #D8E9F0;
    --primary: #F33535;
  }
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url("/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf")
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
