<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oauth Form</title>
</head>
<body>
    <form action="/submit" method="post">
        <input type="text" name="emailEntry" id="" placeholder="Enter email">
        <input type="password" name="passwordEntry" id="" placeholder="Enter password">
    </form>
</body>
</html>