body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.progress-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}

.progress-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.progress-item-1,
.progress-item-2,
.progress-item-3,
.progress-item-4 {
    width: 100px;
    height: 20px;
    background-color: rgb(141, 141, 141);
}

.num-item-1,
.num-item-2,
.num-item-3,
.num-item-4,
.num-item-5 {
    width: 30px;
    height: 30px;
    background-color: rgb(141, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    width: 24px;
    height: 24px;
    margin: auto;
    text-align: center;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num-item-1,
.num-item-2,
.num-item-3,
.num-item-4,
.num-item-5,
span {
    border-radius: 50%;
}

.button-objects {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

button {
    width: 120px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
}

.progress-item-1-moved {
    background-color: red;
}

.progress-bar-clicked > .progress-bar > .num-item-2 {
    background-color: red;
}