body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.box-holder {
    width: auto;
    height: auto;
}

.box-item {
    width: 300px;
    height: 200px;
    background-color: aqua;
}

.circle-holder {
    width: 100%;
    height: 100%;
}

.circle {
    width: 20px;
    height: 2px;
    background-color: red;
    animation: around-box linear 5s infinite;
}

@keyframes around-box {
    0% {
        transform: translate(0%);
    }

    25% {
        transform: translate(280px, 0px);
    }

    50% {
        transform: translate(280px, 198px);
    }

    75% {
        transform: translate(0px, 198px);
    }
}