@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "EuclidCircular";
    src: url("../public/fonts/euclid-circular-b/EuclidCircularBRegular.ttf");
}

@font-face {
    font-family: 'GalanoClassic';
    src: url("../public/fonts/galano-classic-alt/GalanoClassicAltRegular.otf") format("opentype");
};
