$bg-color: #000;
$input-bg-color: #1c1c1c;
$border-style: solid 2px #747272;
$border-radius: 10px;
$input-text-color: #fff;
$input-field-font-size: 1.2rem;
$password-field-font-size: 1.5rem;

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: $bg-color;
}

.main-content, form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5px;

    #input-field-username, 
    #input-field-pass {
        background: $input-bg-color;
        outline: none;
        border: none;
        width: 250px;
        height: 50px;
        padding: 0px 15px 0px 15px;
        color: $input-text-color;
    }
    
    #input-field-username {
        border-right: $border-style;
        border-top-left-radius: $border-radius;
        font-size: $input-field-font-size;
    }
    #input-field-pass {
        border-top-right-radius: $border-radius;
        font-size: $password-field-font-size;
    }

    label {
        display: none;
    }
}

input::-webkit-input-placeholder {
    font-size: $input-field-font-size;
}
