<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="login.css">   
</head>
<body>
    <div class="content-holder">
        <div class="side-heading">
            <h1>Log In</h1>
            <p>Continue to site</p>
        </div>
        <form action="/login" method="post" class="form-content" enctype="application/x-www-form-urlencoded">
            <div class="input-data">
                <input type="text" name="email" required>
                <label for="email">E-mail or Username</label>
                <% if (locals.invalidUser) { %>
                    <p class="noUser"><%= invalidUser %></p>
                <% } %>
            </div>
            <div class="input-data">
                <input type="password" name="password" required>
                <label for="password">Password</label>
                <% if (locals.invalidPass) { %>
                    <p class="wrongPassword"><%= invalidPass %></p>
                <% } %>
            </div>
            <div class="next-btn">
                <div class="create-acc">
                    <a class="register-acc" href="/signup">Create account</a>
                </div>
                <button>Log In</button>
            </div>
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>