.dob {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.dob > .input-data input {
    width: 98px;
    height: 55px;
}

.dob > .input-data > input, 
#month,
#gender {
    height: 55px;
    font-size: 17px;
    padding: 0px 10px 0px 10px;
    text-align: left;
    outline: none;
    border: solid 1.5px black;
    border-radius: 8px;
}

#month {
    width: 120px !important;
}

#gender {
    width: 410px;
}

label {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    pointer-events: none;
    cursor: text;
    transition: 250ms cubic-bezier(.79,0,.16,.99);
    background-color: transparent;
}

.dob > .input-data > label {
    position: absolute;
    top: 99px;
}

.dob > .input-data:nth-child(1) > label {
    position: absolute;
    right: 390px;
}

.input-data > .gender-label {
    position: absolute;
    bottom: 118px;
    right: 370px;
}

.dob > .input-data:nth-child(2) > label {
    position: absolute;
    right: 232px;
}

#month > option:nth-child(1),
#gender > option:nth-child(1) {
    display: none;
}

input:focus,
#month:focus,
#gender:focus,
input:valid,
#month:valid,
#gender:valid {
    border: solid #000fff !important;
}

.input-data:nth-child(3) > label {
    position: absolute;
    right: 104px;
}

input:focus + label,
#month:focus + label,
#gender:focus + label,
input:valid + label,
#month:valid + label,
#gender:valid + label{
    margin-left: 10px;
    background-color: #fff !important;
    color: #000fff;
    padding: 0px 6px !important;
    line-height: 17px;
    transform: translateY(-28px) scale(0.7);
    z-index: 1;
}

