:root {
    --small-side-text-font-size: 17px;
    --small-side-text-color: #1f1f1f;
    --side-text-font-weight: 300;
}

.content-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    background-color: #fff;
    padding: 30px 0px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 50px;  
}

.side-heading {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: wrap;
    word-wrap: break-word;
}

.side-heading > h1 {
    font-size: 55px;
    font-weight: 400;
    margin: 0;
}

.side-heading > p {
    font-size: var(--small-side-text-font-size);
    font-weight: var(--side-text-font-weight);
    margin: 0;
    color: var(--small-side-text-color);
}

