.input-data {
    display: flex;
    flex-direction: column;
}

.input-data > input {
    width: 350px;
    height: 55px;
    font-size: 17px;
    padding: 0px 15px 0px 15px;
    text-align: left;
    outline: none;
    border: solid 1.5px black;
    border-radius: 8px;
}

.input-data > label {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    pointer-events: none;
    cursor: text;
    transition: 250ms cubic-bezier(.79,0,.16,.99);
    background-color: transparent;
}

.input-data:first-child > label {
    position: absolute;
    top: 99px;
}

.input-data:nth-child(2) > label {
    position: absolute;
    bottom: 120px;
}

input:focus,
input:valid,
input:invalid {
    border: solid 1.5px #000fff;
}

input:focus + label,
input:valid + label,
input:invalid + label {
    margin-left: 10px;
    background-color: #fff !important;
    color: #000fff;
    padding: 0px 6px !important;
    line-height: 17px;
    transform: translateY(-28px) scale(0.7);
    z-index: 1;
}