body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(#141e30, #243b55);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: auto;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 100px 300px;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.header {
   height: 10px; 
   color: #fff;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 30px;  
   text-align: center;
}

.header > h1 {
   margin: 0px;

}

.form-content {
    display: grid;
    grid-template-rows: 100px 100px;
    justify-content: center;
}

.input-data {
    width: 450px;
    height: 45px;
    color: #fff;
    border: solid 2px #fff;
    background-color: transparent;
    border-top:none;
    border-left: none;
    border-right: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 0px 0px 0px 0px;
    transition: all .3s;
    transform-origin: center;
}

.submit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.submit-button > button {
    height: 40px;
    width: 100px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    outline: none;
    border: solid 2px #6f6fff;
    background-color: transparent;
    color: #fff;
    animation: infinite-loop 1s infinite;
    user-select: none;

}

.submit-button > button:hover {
    cursor: pointer;
}

.register-acc {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #6f6fff;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all .1s ease-in-out;
    user-select: none;
}

.register-acc:active,
.register-acc:focus,
.register-acc:valid{
    color: darkgoldenrod;
}


.username-input label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    top: 100px;
    left: 50px;
    transition: all 0.3s ease;
    color: #fff;
}

.pass-input label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 50px;
    transition: all 0.3s ease;
    color: #fff;
}

.input-data:focus ~ label, 
.input-data:valid ~ label {
    transform: translateY(-15px);
    color: #ffffff;
    font-size: 13px;
    color: #6f6fff; 
}

.input-data:focus,
.input-data:valid {
    border-color: #6f6fff;
}
