.nav-bar {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 4rem;
    width: 80%;
    margin-right: 100px;
}

.nav-bar > .nav-links a {
    font-family: "League Spartan", sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    color: var(--nav-links-text-color);
    text-decoration: none;
    letter-spacing: 1.2px;
}

.nav-bar > .nav-links > a:not([class])::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 5px;
    background-color: var(--highlight-color);
    transition: all .3s ease-in;
}

.nav-bar > .nav-links > a[class]::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 5px;
    background-color: var(--highlight-color);
    transition: all .3s ease-in;
}

.nav-bar > .nav-links > a:not([class]):hover::after,
.nav-bar > .nav-links > a:not([class]):active::after {
    width: 52px;
}

.nav-bar > .nav-links:hover > a[class]:hover::after,
.nav-bar > .nav-links:hover > a[class]:active::after {
    width: 70px;
}
