.about-me-section {
    display: grid;
    justify-content: center;   
    justify-self: center;
    margin: 50px 0 0 0;
    color: #fff;
    font-family: var(--main-text-font-family); 
}
    
.grid-box {
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-self: center;
}

.about-me {
    width: 70%;
    margin: 0 50px 0 0;  
}

.about-me-content,
.tech-list {
    font-family: var(--nav-links-font-family);
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    word-wrap: break-word;
    line-height: 35px;
}

.tech-list {
    margin: 5px 0 20px 0;
}

.about-header,
.skills-header {
    font-family: var(--nav-links-font-family);
    font-size: 40px;
}

.my-skills  {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    /* padding-left: 40px; */
    width: 100%;
}

.skill-collection {
    display: grid;
    grid-template-columns: repeat(4, 15%);
    gap: 10px;
}

.skill {
    display: flex;
    justify-content: center;
}
