<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="body.css">
    <link rel="stylesheet" type="text/css" href="form.css">    
    <link rel="stylesheet" type="text/css" href="heading.css">
    <link rel="stylesheet" type="text/css" href="age.css">    
</head>
<body>
    <div class="content-holder">
        <div class="side-heading">
            <h1>Create Account</h1>
            <p>Enter your birthday and gender</p>
        </div>
        <form action="/signup/password" method="post" class="form-content">
            <div class="dob">
                <div class="input-data">
                    <input type="tel" name="year" maxlength="4" autocomplete="off" spellcheck="false" required>
                    <label for="year">Year</label>
                </div>
                <div class="input-data">
                    <select name="month" id="month">
                        <option value=""></option>
                        <option value="monthValue">January</option>
                        <option value="monthValue">February</option>
                        <option value="monthValue">March</option>
                        <option value="monthValue">April</option>
                        <option value="monthValue">May</option>
                        <option value="monthValue">June</option>
                        <option value="monthValue">July</option>
                        <option value="monthValue">August</option>
                        <option value="monthValue">September</option>
                        <option value="monthValue">October</option>
                        <option value="monthValue">November</option>
                        <option value="monthValue">December</option>

                    </select>
                    <label for="month">Month</label>
                </div>
                <div class="input-data">
                    <input type="tel" name="day" autocomplete="off" spellcheck="false" maxlength="2" required>
                    <label for="day">Day</label>
                </div> 
            </div>
            <div class="input-data">
                <select name="gender" id="gender">
                    <option value=""></option>
                    <option value="opt" name="genderOpt">Male</option>
                    <option value="opt" name="genderOpt">Female</option>
                    <option value="opt" name="genderOpt">Rather not say</option>
                    <option value="opt" name="genderOpt">Customised</option>
                </select>
                <label for="gender" class="gender-label">Gender</label>
            </div> 
            <div class="next-btn">
                <button>Next</button>
            </div>
        </form>
    </div>
</body>
</html>