<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="body.css">
    <link rel="stylesheet" type="text/css" href="input.css">
    <link rel="stylesheet" type="text/css" href="form.css">    
    <link rel="stylesheet" type="text/css" href="heading.css">    
</head>
<body>
    <div class="content-holder">
        <div class="side-heading">
            <h1>Create Account</h1>
            <p>Enter your name</p>
        </div>
        <form action="/signup/name" method="post" class="form-content">
            <div class="input-data">
                <input type="text" name="fname" required>
                <label for="fname">First name</label>
            </div>
            <div class="input-data">
                <input type="text" name="lname" required>
                <label for="lname">Last name</label>
            </div>
            <div class="next-btn">
                <button>Next</button>
            </div>
        </form>
    </div>
</body>
</html>