<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="../public/register.css">
    <link rel="stylesheet" href="../public/input.css">
    <link rel="stylesheet" href="../public/form.css">    
    <link rel="stylesheet" href="../public/heading.css">    
</head>
<body>
    <div class="content-holder">
        <div class="side-heading">
            <h1>Create Account</h1>
            <p>Create a strong password that contains a mix of letters, numbers and symbols</p>
        </div>
        <form action="/´login" method="post" class="form-content">
            <div class="input-data">
                <input type="password" name="newpass" maxlength="20" required>
                <label for="newpass">Password</label>
            </div>
            <div class="input-data">
                <input type="password" name="confpass" maxlength="20" required>
                <label for="confpass">Confirm password</label>
            </div>
            <div class="next-btn">
                <button type="submit">Finish</button>
            </div>
        </form>
    </div>
</body>
</html>