@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Light box', sans-serif;
    src: url(font/Fontspring-DEMO-lightbox21-medium-1.otf);
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.mesh {
    padding: 50px 50px 0px 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 800px;
    column-gap: 100px;
}

.work-sum {
    margin-bottom: 0;
    text-align: left;
    word-wrap: break-word;
    padding-bottom: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 17px
}

p {
    margin-bottom: 0;
}

h2 {
    margin-bottom: 0;
    color: #00157e;
}

.item-2 > h2 {
    margin: 0;
}

.item-4 > h2 {
    margin: 40px 0px 0px 0px;
}

h3 {
    margin: 15px 0px 0px 0px;
    font-family: inherit;
    font-size: 19px;
    font-weight: 400;
    color: #0026cf;
}

hr {
    margin: 10px 0px;
}

.col-2, .grid-section {
    display: grid;
    grid-auto-flow: row;
}

.exp-object {
    display: grid;
    grid-template-columns: 85% 15%; 
}

.job-type-element {
    display: grid;
    align-content: center;
}

.full-time {
    background-color: #99FFA7;
    color: #00157e;
    outline: none;
    border: none;
    height: 35px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.download {
    margin-top: 50px;
    height: 45px;
    width: 180px;
    background-color: #002DFF;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.download:hover {
    cursor: pointer;
}

img {
    border-radius: 50%;
}