:root {
    --text-color: #ffffff;
    --my-font: 'Raleway', sans-serif;
    --right-nav-border: solid 1px #005200;
    --right-nav-text-color-hover: #1d7d1d;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url('/Images/pexels-elijah-o\'donnell-3473569.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
}
 
.nav-container {
    width: 100%;
    height: 80px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 30px;
    font-family: var(--my-font);
} 

.left-nav {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

span :not(1){
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.right-nav {
    width: 500px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 50px;
    padding-right: 100px;
}

.right-nav > .nav-link {
    position: relative;
    width: 150px;
    height: 20px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 0;
    z-index: 1;
    transition: all .5s;
}

.right-nav:hover .nav-link {
    transform:scale(1.5);
    opacity:0.1;
    filter:blur(1px);
}

.right-nav > .nav-link:hover {
    box-sizing: border-box;
    border: var(--right-nav-border);
    background: inherit;
    background-position: left bottom;
    cursor: pointer;
    color: var(--right-nav-text-color-hover);
    letter-spacing: 2px;
    transform:scale(1.8);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
}

.content-container {
    width: 100%;
    height: auto;
    font-family: var(--my-font);
    color: var(--text-color);
}

.content {
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.aside-content {
    width: 600px;
    float: right;
    position: relative;
    bottom: 50px;
}

ul {
    line-height: 40px;
    font-size: 20px;
}

h1 {
    color: #FF4B4Bed;
    font-size: 40px;
    letter-spacing: 3px;
}

h3 {
    color: #FF4B4Bed;
    font-size: 20px;
}