body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.box-holder {
    display: grid;
    justify-content: center;
    align-content: center;
}

.box {
    background-color: rgb(248, 88, 88);
    border: solid 2px red;
    width: 250px;
    height: 250px;
    text-align: center;
}

p {
    position: relative;
    top: 50%;
    margin: 0;
}

p::before {
    content: '';
    display: block;
    position: absolute;
    top: 18px;
    bottom: 0;
    left: 86px;
    right: 0;
    width: 80px;
    height: 10px;
    background-color: green;
    /* z-index: -1; */
    transition: all .3s;
    /* transform: scale(0); */
    transform-origin: left;
    /* opacity: 0; */
}

p:hover::before {
    /* z-index: 1; */
    opacity: 1;
    background-color: rgb(0, 0, 125);
    /* transform: scale(1); */
}

