:root {
    --bg-color : #3a3a3a;
    --input-area: #0d0d1f;
    --svg-fill: #3b3d81;
    --placeholder: #e6e6e6;
    --input-font: 35px;
    --input-border: solid 1px #3b3d81; 
}

body {
    background-image: url('Twitter-för-företag-1030x644.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 1em;
    width: 100%;
    height: 100%;
}

.search-bar {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    height: 100%;
    width: 100%;
}

#search-box {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 45px;
    width: 600px;
    border: var(--input-border);
    background-color: var(--input-area);
    border-radius: 30px;
    color: white;
    transition: 500ms;
}

.search-bar > input::-webkit-input-placeholder {
    color: var(--placeholder);
    font-size: var(--input-font);
    font-family: 'Julee', cursive;
}

input {
    padding: 0px 85px 0px 30px;
    font-size: var(--input-font);
    font-family: 'Julee', cursive;
}

.bi-search{
    position: relative;
    right: 35px;
    top: 16px;
    fill: var(--svg-fill);
}

.bi-x-lg {
    position: relative;
    right: 90px;
    top: 14px;
    fill: var(--svg-fill);
    border-right: solid 1.5px #3b3d81;
    padding-right: 6px;
    height: 24px;
    padding-bottom: 2px;
}


#search-box:focus {
    outline: none; 
}

button {
    height: 50px;
    color: white;
    background-color: rgb(29, 155, 240);
    padding: 6px;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 0.5px;
    border-radius: 10rem;
    width: 210px;
    text-align: center;
    border: none;
}

button:hover {
    cursor: pointer;
}

.footer-nav {
    height: 100%;
    width: auto;
    display: flex;
    flex-shrink: 1;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    top: 305px;
    margin: 0vh 60vh;
}

.footer-nav > .footer-content a {
    color: white;
    font-family: 'Julee', cursive;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: 2500ms;
}

.footer-content a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1020px) { 
    body {
        background-image: none  ;
        background-color: #0d0d1f;
        transition: 250ms;
    }
}

@media screen and (max-width: 800px) {
    
    .footer-nav {
        width: auto;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        position: relative;
        right: 100px;
    }
}