@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');


body {
    margin: 0;
    height: 100vh;
    padding: 0;
    background-color: aqua;
    font-family: "Platypi", serif;
}

body, 
.timer-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-holder {
    background-color: blue;
    height: 150px;
    width: 500px;
    border: none;
    border-radius: 10pc;
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    user-select: none;
}

#hour-holder,
#minute-holder,
#second-holder {
    display: flex;
    justify-content: center;
    width: 120px;
}

