body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    place-items: center;
    column-gap: 30px;
}

.image-object {
    height: 500px;
    width: 80px;
    border-radius: 100px;
}

.image-object:nth-child(1) {
    width: 700px;
    background-image: url('../images/1c56651365de1065c1569824565fd480.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.image-object:nth-child(2) {
    background-image: url('../images/9bd925bf4f29140f32523fd49ca390bd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.image-object:nth-child(3) {
    background-image: url('../images/9fcca7ec3187d0637e44b5e805ed62af.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.image-object:nth-child(4) {
    background-image: url('../images/04a4506c47399fbb261718e14f8d2d23.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.image-object:nth-child(5) {
    background-image: url('../images/61ac5187e129d56101ef18a18972db01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
